<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/sweetalert.css">
    <script src="/static/js/ions_alert.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
</head>

<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">上级权限</label>
            <div class="layui-input-inline" style="width: 200px;">
                <select name="interest" lay-filter="aihao" id="auth_parent_id">
                    <option value="0">--无--</option>
                    {{range .auths}}
                        <option value="{{.Id}}">{{.AuthName }}</option>
                    {{end}}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">无上级权限请留空</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权限名称</label>
            <div class="layui-input-inline" style="width:200px;">
                <input type="text" lay-verify="title" placeholder="请输入权限名称" autocomplete="off" class="layui-input"
                       id="auth_name" name="auth_name">
            </div>
            <div class="layui-form-mid layui-word-aux">权限名称不能重复</div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">URL地址</label>
            <div class="layui-input-inline" style="width:200px;">
                <input type="text" id="auth_url" name="auth_url" lay-verify="title" placeholder="请输入URL地址"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">使用urlfor规则</div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">描述</label>
            <div class="layui-input-block">
                <textarea id="auth_desc" name="auth_desc" placeholder="请输入内容" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">是否启用</label>
            <div class="layui-input-block">
                <input name="is_active" id="is_active_1" type="radio" value="0" checked="checked" title="启用"/>
                <input name="is_active" id="is_active_0" type="radio" value="1" title="停用"/>

                <!--<input type="checkbox" id="is_active" name="is_active" lay-skin="switch" lay-text="启用|停用">-->
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">权重</label>
            <div class="layui-input-inline" style="width: 200px;">
                <input class="layui-input" type="text" id="auth_weight" autocomplete="off" name="auth_weight"
                       placeholder="请输入数字权重">
            </div>
            <div class="layui-form-mid layui-word-aux">使用urlfor规则</div>
        </div>


        <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
                <div class="layui-footer">
                    <button lay-filter="add" lay-submit class="layui-btn" id="auth_add_btn">立即提交</button>
                    <a href="" class="layui-btn layui-btn-primary">返回</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(add)', function () {
                var auth_parent_id = $("#auth_parent_id").val()
                var auth_name = $("#auth_name").val()
                var auth_url = $("#auth_url").val()
                var auth_desc = $("#auth_desc").val()
                var auth_weight = $("#auth_weight").val()
                var is_active = $("input[name=is_active]:checked").val()
                debugger
                $.ajax({
                    url: "{{urlfor "AuthController.DoAdd"}}",
                    type: "POST",
                    data: {
                        "auth_parent_id": auth_parent_id,
                        "auth_name": auth_name,
                        "auth_url": auth_url,
                        "auth_desc": auth_desc,
                        "auth_weight": auth_weight,
                        "is_active": is_active
                    },
                    success: function (data) {
                        if (data.code == 200) {
                            ions_alert.alertSuccessToast(data.msg)
                        } else {
                            ions_alert.alertErrorToast(data.msg)
                        }
                        setTimeout(reolad_list,1000)
                    },
                    error: function (data) {
                        ions_alert.alertErrorToast(data.msg)
                    }
                })
            });

        });
    })
    function reolad_list() {
        debugger
        var index = parent.layer.getFrameIndex(window.name)
        // parent.layer.close(index)
        layer.close(layer.index)
        window.location.href = "{{urlfor "AuthController.List"}}"
    }

</script>
</body>

</html>