<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="/static/css/bootstrapStyle/bootstrapStyle.css" type="text/css">
    <script type="text/javascript" src="/static/js/ztree/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/ztree/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/static/js/ztree/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/static/js/ztree/jquery.ztree.exedit.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <link rel="stylesheet" href="/static/css/sweetalert.css">
    <script type="text/javascript" src="/static/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/js/ions_alert.js"></script>

</head>

<body>
<div class="x-body">
    <form class="layui-form" action="" lay-filter="component-form-group">
        <div class="layui-form-item">
            <label class="layui-form-label">角色名称</label>
            <div class="layui-input-inline" style="width:200px;">
                <input type="text" value="{{.role.RoleName}}" autocomplete="off" class="layui-input"
                       readonly="readonly">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色描述</label>
            <div class="layui-input-inline" style="width:200px;">
                <input type="text" value="{{.role.Desc}}" autocomplete="off" class="layui-input" readonly="readonly">
            </div>
        </div>

        <input id="role_id" type="hidden" value="{{.role.Id}}">
        <div class="layui-form-item">
            <label class="layui-form-label">权限树</label>
            <div class="layui-input-block">
                <ul id="treeDemo" class="ztree"></ul>
            </div>


            <div class="layui-form-item layui-layout-admin">
                <div class="layui-input-block">
                    <div class="layui-footer">
                        <button type="button" class="layui-btn" id="role_auth_add_btn">
                            立即提交
                        </button>
                        <button type="button" onclick="x_admin_close()" class="layui-btn layui-btn-primary">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<SCRIPT type="text/javascript">
    var setting = {
        view: {
            // addHoverDom: addHoverDom,
            // removeHoverDom: removeHoverDom,
            selectedMulti: false
        },
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },
        edit: {
            enable: true
        },
    };
    $(document).ready(function () {
        $.ajax({
            url: "{{urlfor "RoleController.GetAuthJson"}}",
            type: "GET",
            data: {
                role_id: $("#role_id").val(),
            },
            success: function (data) {
                zNode = data.auth_arr_map
                var ids = data.auth_ids_has
                $.fn.zTree.init($("#treeDemo"), setting, zNode);
                var zTree = $.fn.zTree.getZTreeObj("treeDemo")
                zTree.expandAll(true)
                for (let i = 0; i < ids.length; i++) {
                    zTree.checkNode(zTree.getNodeByParam("id", ids[i]), true)
                }
            },
            error: function () {

            }
        });
    })

    function creatTree(zNode, ids) {
        $.fn.zTree.init($("#treeDemo"), setting, zNode);
        var zTree = $.fn.zTree.getZTreeObj("treeDemo")
        zTree.expandAll(true)
        for (let i = 0; i < ids.length; i++) {
            zTree.checkNode(zTree.getNodeByParam("id", ids[i]), true)
        }
    }

    $("#role_auth_add_btn").click(function () {
        var auth_id = []
        var selectNodes = $.fn.zTree.getZTreeObj("treeDemo").getCheckedNodes()
        for (let i = 0; i < selectNodes.length; i++) {
            auth_id.push(selectNodes[i].id)
        }
        debugger
        $.ajax({
            url: '{{urlfor "RoleController.DoRoleAtuh"}}',
            type: "POST",
            data: {
                role_id: $("#role_id").val(),
                auth_id: auth_id
            },
            success: function (data) {
                if (data.code == 200) {
                    ions_alert.alertSuccessToast(data.msg)
                } else {
                    ions_alert.alertErrorToast(data.msg)
                }
                setTimeout(function () {
                    parent.location.reload()
                }, 1000)
            },
            error: function (data) {

            }
        })
    })


    //-->
</SCRIPT>
</body>

</html>