<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/js/ztree/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">个人中心</a>
        <a>
          <cite>工资条</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
            <input class="layui-input" placeholder="请选择月份" value="{{.month}}" id="salary_month">
            <button type="button" class="layui-btn" id="search"><i class="layui-icon">&#xe615;</i></button>
        </form>
    </div>
    <xblock>
        <button class="layui-btn" onclick="x_admin_show('导入','{{urlfor "FinanceController.ToImportExcel"}}',600,400)"><i class="layui-icon"></i>导入
        </button>

        <span class="x-right" style="line-height:40px">共有数据：{{.count}} 条</span>
    </xblock>
    <table class="layui-table">
        <thead>
        <tr>
            <th>工号</th>
            <th>工资月份</th>
            <th>工作天数</th>
            <th>奖金</th>
            <th>个税</th>
            <th>罚金</th>
            <th>补贴</th>
            <th>社保</th>
            <th>实发工资</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{range .salary}}
            <tr>
                <td>{{.CardId}}</td>
                <td>{{.PayDate}}</td>
                <td>{{.WorkDay}}</td>
                <td>{{.Reward}}</td>
                <td>{{.Tax}}</td>
                <td>{{.Fine}}</td>
                <td>{{.Perk}}</td>
                <td>{{.Social}}</td>
                <td>{{.NetSalary}}</td>
                <td class="td-manage">
                    <button class="layui-btn" onclick="x_admin_show('查看详情','{{urlfor "FinanceController.Detail"}}?id={{.Id}}',600,600)"><i
                                class="layui-icon">&#xe63c;</i>查看详情
                    </button>
                </td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <div class="page">
        <div>
            <span class="current">共{{.countPage}}页</span>
            <a class="prev" href="{{urlfor "FinanceController.Get"}}?page={{.pageMap.firstPage}}"><&lt;</a>
            <a class="prev" href="{{urlfor "FinanceController.Get"}}?page={{.prePage}}">&lt;</a>
            {{range .pageMap.num_pages}}
                {{if eq $.pageMap.currentPage .}}
                    <span class="current">{{.}}</span>
                {{else}}
                    <a class="next" href="{{urlfor "FinanceController.Get"}}?page={{.}}">{{.}}</a>
                {{end}}
            {{end}}
            <a class="next" href="{{urlfor "FinanceController.Get"}}?page={{.nextPage}}">&gt;</a>
            <a class="next" href="{{urlfor "FinanceController.Get"}}?page={{.pageMap.lastPage}}">&gt;&gt;</a>
        </div>
    </div>
</div>
<script>
    $(function () {
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#salary_month', //指定元素.
                type: 'month'
            });
        });
        $("#search").click(function () {
            var month = $("#salary_month").val()
            window.location.href = '{{urlfor "FinanceController.Get"}}?month='+month
        })
    })
</script>
</body>

</html>