<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
</head>

<body>
<div class="x-body">
    <form class="layui-form" id="form">
        <input type="hidden" name="id" value="{{.user.Id}}">
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>用户名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="username" name="username" value="{{.user.UserName}}" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>年龄
            </label>
            <div class="layui-input-inline">
                <input type="text" id="age" name="age" value="{{.user.Age}}" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>性别
            </label>
            <div class="layui-input-inline">
                {{if eq .user.Gender 1}}
                    <input type="radio" name="gender" lay-verify="required" checked
                           autocomplete="off" class="layui-input" title="男" value="1">
                    <input type="radio" name="gender" lay-verify="required"
                           autocomplete="off" class="layui-input" title="女" value="2">
                {{else if eq .user.Gender 2}}
                    <input type="radio" name="gender" lay-verify="required"
                           autocomplete="off" class="layui-input" title="男" value="1">
                    <input type="radio" name="gender" lay-verify="required" checked
                           autocomplete="off" class="layui-input" title="女" value="2">
                {{else}}
                    <input type="radio" name="gender" lay-verify="required"
                           autocomplete="off" class="layui-input" title="未知" value="3">
                {{end}}
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>电话号码
            </label>
            <div class="layui-input-inline">
                <input type="text" id="phone" name="phone" value="{{.user.Phone}}" required="" lay-verify="phone"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>地址
            </label>
            <div class="layui-input-inline">
                <input type="text" id="addr" name="addr" value="{{.user.Addr}}" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button id="submit" type="button" class="layui-btn" lay-filter="add" lay-submit>
                提交
            </button>
        </div>
    </form>
</div>
<script>
    // layui.use(['form', 'layer'], function () {
    //     $ = layui.jquery;
    //     var form = layui.form
    //         , layer = layui.layer;
    //
    //     //自定义验证规则
    //     form.verify({
    //         nikename: function (value) {
    //             if (value.length < 5) {
    //                 return '昵称至少得5个字符啊';
    //             }
    //         }
    //         , pass: [/(.+){6,12}$/, '密码必须6到12位']
    //         , repass: function (value) {
    //             if ($('#L_pass').val() != $('#L_repass').val()) {
    //                 return '两次密码不一致';
    //             }
    //         }
    //     });

        // //监听提交
        // form.on('submit(add)', function (data) {
        //     console.log(data);
        //     //发异步，把数据提交给php
        //     layer.alert("增加成功", {icon: 6}, function () {
        //         // 获得frame索引
        //         var index = parent.layer.getFrameIndex(window.name);
        //         //关闭当前frame
        //         parent.layer.close(index);
        //     });
        //     return false;
        // });


    // });
    $("#submit").click(function () {
        $.ajax({
            url: '{{urlfor "PersonController.Post"}}',
            type: "POST",
            data: $("#form").serialize(),
            before: function () {
              console.log(11)
            },
            success: function (data) {
                layer.alert(data.msg)
                if (data.code==200) {
                    window.location.href = "{{urlfor "PersonController.Get"}}"
                } else {
                    return
                }
            },
            error: function (data) {

            }
        })
    })
</script>
</body>

</html>