<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知了内部办公网-后台系统管理</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/font.css">
	<link rel="stylesheet" href="../static/css/xadmin.css">
    <link rel="icon" href="../static/images/zlkt.ico" type="image/x-icon"/>
    <script type="text/javascript" src="../../static/js/ztree/jquery.min.js"></script>
{{/*    <script type="text/javascript" src="../../static/js/sweetalert2.all.js"></script>*/}}
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>

</head>
<body class="login-bg">
    
    <div class="login">
        <div class="message">知了课堂内部办公网-登录管理</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" id="login">
            <input id="username" placeholder="用户名" value="root"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input id="password" lay-verify="required" value="123456" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <div>
                <input id="captcha" placeholder="验证码" type="text" class="layui-input" style="width: 180px;float: left">
                <img id="captcha_img" src="../static/images/code.jpg" style="cursor: pointer;width: 140px;height: 50px;float: right"/>
                <input type="hidden" value="{{.captcha.Id}}" id="captcha_id">
            </div>
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="button" id="btn">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $("#captcha_img").attr("src",{{.captcha.BS64}});

        $("#captcha_img").click(getCaptcha);

        function getCaptcha() {
            $.ajax({
                url:"/change_captcha",
                data:{},
                type:"GET",
                success:function (data) {
                    debugger
                    if (data.code != 200) {
                        alert(data.msg)
                    } else {
                        $("#captcha_img").attr("src",data.captcha.BS64);
                        $("#captcha_id").attr("value",data.captcha.Id);
                    }
                },

            })
        }
        // $(document).ready(function(){
        //     $(document).keyup(function(event){
        //         if(event.keyCode == 13){
        //             dologin();
        //         }
        //     })
        // })
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;

              form.on('submit(login)', function(data){
                // alert(888)
                var username = $("#username").val();
                var password = $("#password").val();
                var captcha = $("#captcha").val();
                var captcha_id = $("#captcha_id").val();
                $.ajax({
                    url: "/",
                    type: "POST",
                    data:{
                        "username":username,
                        "password":password,
                        "captcha":captcha,
                        "captcha_id":captcha_id
                    },
                    success:function (data) {
                        console.log(data)
                        if (data.code==200) {
                            window.location.replace("{{urlfor "HomeController.Get"}}");
                        } else {
                            layer.alert(data["msg"])
                            getCaptcha()
                        }
                    },
                    error:function () {

                    },
                })
                // layer.msg(JSON.stringify(data.field),function(){
                //     location.href='index.html'
                // });
                // return false;
              });
            });
        })

        
    </script>

    
    <!-- 底部结束 -->
    
</body>
</html>