<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/sweetalert.css">
    <script src="/static/js/ions_alert.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="/static/js/ztree/jquery.min.js"></script>
    <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>
    <link rel="stylesheet" href="/static/css/sweetalert.css">
    <script src="/static/js/ions_alert.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
    <!--富文本编辑器-->
    <link rel="stylesheet" href="/static/lib/froala_editor/css/froala_editor.css">
    <link rel="stylesheet" href="/static/lib/froala_editor/css/froala_style.min.css">
    <link rel="stylesheet" href="/static/lib/froala_editor/css/plugins/code_view.css">
    <link rel="stylesheet" href="/static/lib/froala_editor/css/plugins/image_manager.min.css">
    <link rel="stylesheet" href="/static/lib/froala_editor/css/plugins/image.css">
    <link rel="stylesheet" href="/static/lib/froala_editor/css/plugins/table.css">
    <link rel="stylesheet" href="/static/lib/froala_editor/css/plugins/video.css">
    <script src="/static/lib/froala_editor/js/froala_editor.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/align.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/code_beautifier.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/code_view.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/draggable.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/image.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/image_manager.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/link.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/lists.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/paragraph_format.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/paragraph_style.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/table.min.js"></script>
    <script src="/static/lib/froala_editor/js/plugins/video.min.js"></script>
</head>

<body>
<div class="x-body">
    <form class="layui-form" id="form">
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>标题
            </label>
            <div class="layui-input-inline">
                <input type="hidden" name="id" value="{{.news.Id}}">
                <input type="text" name="title" value="{{.news.Title}}" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>分类
            </label>
            <div class="layui-input-inline">
                {{if .news.Id}}
                    <select name="cate_id" id="cate_id" lay-verify="cate_id">
                        {{range .cate}}
                            {{if eq .Id $.news.Category.Id}}
                                <option value="{{.Id}}" selected>{{.Name }}</option>
                            {{else}}
                                <option value="{{.Id}}">{{.Name }}</option>
                            {{end}}
                        {{end}}
                    </select>
                {{else}}
                    <select name="cate_id" id="cate_id" required>
                        <option value="0"></option>
                        {{range .cate}}
                            <option value="{{.Id}}">{{.Name }}</option>
                        {{end}}
                    </select>
                {{end}}
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>内容
            </label>
            <div class="layui-input-inline">
                <textarea name="content" id="content" cols="30" rows="10">{{.news.Content}}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button type="button" class="layui-btn" lay-filter="add" lay-submit>
                提交
            </button>
        </div>
    </form>
</div>
<script>
    $(function () {
        var editor = new FroalaEditor("#content",{
            width:700,
            placeholderText:"请输入内容",
            charCounterCount: true,//默认 显示字数
            saveInterval: 0,//不自动保存,默认10000,0为不自动保存
            charCounterMax: 3000, //最大字数限制,-1为不限制
            language:"zh_cn",
            imageUploadMethod:"POST",
            imageUploadURL:"{{urlfor "NewsController.Upload"}}",
        })

        layui.use('form', function () {
            //监听提交
            var form = layui.form;

            form.on('submit(add)', function (data) {
                var cate_id = $("#cate_id option:selected").val()
                if (cate_id == 0) {
                    ions_alert.alertErrorToast("请选择栏目！")
                    return
                }
                $.ajax({
                    url: "{{urlfor "NewsController.DoAdd"}}",
                    type: "POST",
                    data: $("form").serialize(),
                    success: function (data) {
                        if (data.code == 200) {
                            // ions_alert.alertSuccessToast(data["msg"])
                            {{/*setTimeout(window.location.href = "{{urlfor "UserController.List"}}", 2000)*/}}
                            ions_alert.alertSuccessToast(data.msg)
                        } else {
                            ions_alert.alertErrorToast(data.msg)
                        }
                        setTimeout(function () {
                            parent.location.reload()
                            x_admin_close()
                        }, 1000)
                    },
                    error: function (data) {
                        alert(data.msg)
                    },
                })
                //关闭当前frame
                // parent.layer.close(index);
            })
        })
    })

</script>
</body>

</html>